image: python:3.6

pipelines:
  default:
    - step:
        caches:
          - pip
        script:
          - pip install -r requirements.txt
          - python validator.py
          - pycodestyle validator.py scripts/
